.header{
background-color: blue;
width: 100%;
height:100vh;
}
h1{
font-size:20px;
color: white;
text-align:center;
}
.btn{
width: 90%;
height: 100px;
background-color:white;
margin-left:40px;
}
.section{
width:95%;
height:50vh;
background-color:white;
margin-left:20px;
display:flex;
}
.pri{
width:20%;
height:50vh;
background-color:red;
margin-left:10px;
border-radius: 5px;
}
.ari{
width:60%;
height:50vh;
background-color:gray;
margin-left:10px;
border-radius: 10px;
}
.jud{
width:20%;
height:50vh;
background-color:yellow;
margin-left:10px;
border-radius: 10px;
}
.footer{
width:95%;
height:20vh;
background-color

